body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    color: #525f6b;
}

img,
embed,
object,
video {
  max-width: 100%;
}

a {
  color: #F57C00;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #01579B;
  text-decoration: underline;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

h1 {
    color: #708fc1;
    margin:10px;
}

h2 {
  font-weight: 300;
  font-size: 1.5em;
  margin: 0;
  padding-top: 10px;
}

h3 {
    font-weight: 500;
    font-size: 1.5em;
    margin: 0;
    text-align: right;
}

h4 {
    margin: 0;
    font-weight: 300;
}

header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

footer {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  font-size: 0.75em;
  width: 100%;
  padding-left: 30px;
}

article {
  align-items: center;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: all 0.25s;
}

article:last-of-type {
  margin-right: 0;
}

img {
  vertical-align: middle;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

textarea {
  width: 100%;
  height: 400px;
  font-size: 17px;
  font-family: roboto;
}

input[type=submit] {
  font-size: 24px;
}

label {
  display: block;
  font-size: 20px;
}

b,
strong {
  font-weight: 700;
}

button {
  text-transform: uppercase;
}

pre {
  font-family: roboto;
  font-size: 1.25em;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.container {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
}

.text-center {
  text-align: center;
}

.inline-flex {
  display: inline-flex;
}

/*
 * Material Design
 */

.display-4 {
  font-weight: 200; /* light */
  font-size: 112px;
}

.display-3 {
  font-weight: 400; /* normal */
  font-size: 56px;
}

.display-2 {
  font-weight: 400;
  font-size: 45px;
}

.display-1 {
  font-weight: 400;
  font-size: 34px;
}

.headline {
  font-weight: 400;
  font-size: 24px;
}

.title {
  font-weight: 600; /* medium */
  font-size: 20px;
}

.subheading {
  font-weight: 400;
  font-size: 16px;
}

.body-2 {
  font-weight: 600;
  font-size: 14px;
}

.body-1 {
  font-weight: 400;
  font-size: 14px;
}

.caption {
  font-weight: 400;
  font-size: 12px;
}

.button {
  font-weight: 600;
  font-size: 14px;
}

/*
 * Light Blue color pallete
 */

.light-blue-500 {
  background: #03A9F4;
}

.foreground-light-blue-500 {
  color: #03A9F4;
}

.light-blue-50 {
  background: #E1F5FE;
}

.foreground-light-blue-50 {
  color: #E1F5FE;
}

.light-blue-100 {
  background: #B3E5FC
}

.foreground-light-blue-100 {
  color: #B3E5FC
}

.light-blue-200 {
  background: #81D4FA
}

.foreground-light-blue-200 {
  color: #81D4FA
}

.light-blue-300 {
  background: #4FC3F7
}

.light-blue-400 {
  background: #29B6F6
}

.light-blue-500 {
  background: #03A9F4
}

.light-blue-600 {
  background: #039BE5
}

.light-blue-700 {
  background: #0288D1
}

.foreground-light-blue-700 {
  color: #0288D1
}

.light-blue-800{
  background: #0277BD
}

.light-blue-900{
  background: #01579B
}

.light-blue-A100{
  background: #80D8FF
}

.light-blue-A200{
  background: #40C4FF
}

.light-blue-A400{
  background: #00B0FF
}

.light-blue-A700{
  background: #0091EA
}

/*
 * Grid
 */

.grid {
  margin: 0 auto;
  /*max-width: 1200px;*/
  width: 100%;
}

.row {
  width: 100%;
  margin-bottom: 20px;
  /*display: flex;*/
}

.trimmed {
  margin-bottom: 0;
}

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.66667%;
}

.col-10 {
    width: 83.33333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66667%;
}

.col-7 {
    width: 58.33333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66667%;
}

.col-4 {
    width: 33.33333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66667%;
}

.col-1 {
    width: 8.33333%;
}

.col-offset-6 {
    margin-left: 50%;
}

/*
 * Buttons
 */

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-white {
  color: #fff;
  background: #03A9F4;
  border: 1px solid #03A9F4;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active {
  background: #01579B;
  color: #fff;
}

.btn-red {
    background-color: #ed5565;
    border-color: #ed5565;
    color: #fff;
}
.btn-red:hover,
.btn-red:active,
.btn-red:focus {
  color: #fff;
  background-color: #ec4758;
  border-color: #ec4758;
}

.btn:focus {
  outline: none !important;
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-rounded {
  border-radius: 50px;
}

.btn-red.btn-outline {
  color: #ed5565;
  border-color: #ed5565;
}

.btn-red.btn-outline:hover {
  color: #fff;
}

a.btn-link:hover,
a.btn-link:focus,
a.btn-link:active {
  text-decoration: none;
  background-color: transparent;
}

button.dim {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 6px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 20px !important;
}

button.dim:active {
  top: 3px;
}

button.btn-red.dim {
  box-shadow: inset 0 0 0 #ea394c, 0 5px 0 0 #ea394c, 0 10px 5px #999999;
}
button.btn-red.dim:active {
  box-shadow: inset 0 0 0 #ea394c, 0 2px 0 0 #ea394c, 0 5px 3px #999999;
}
button.dim:before {
  font-size: 50px;
  line-height: 1em;
  font-weight: normal;
  color: #fff;
  display: block;
  padding-top: 10px;
}
button.dim:active:before {
  top: 7px;
  font-size: 50px;
}
.btn:focus {
  outline: none !important;
}

/*
 * Box
 */

.box {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
  width: 100%;
}

.box-content {
  background-color: #fff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-style: solid solid none;
  border-width: 1px 0;
}

.small {
  font-size: 85%;
}

.text-muted {
  color: #888;
}

.box-title h2 {
  color: #333;
}

.box-title .small {
  padding: 10px;
}

.btn-link h2 {
  padding-left: 10px
}

/*
 * Form
 */

.form-control {
  display: block;
  width: 100%;
  height: 20px;
  padding: 6px 12px;
  font-size: 16px;
  color: #555;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
}

.form-group {
  margin-bottom: 15px;
}

textarea.form-control {
  height: 400px;
}

/*
 * Header
 */

.site-header {
    color: #fff;
    /*height: 256px;*/
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.site-header .wrapper {
  z-index: 1;
  position: absolute;
  top:0;
  right:0;
  left:0;
  height: 64px;
}

.header {
  position: absolute;
  bottom: -12px;
  right: 0;
  left: 0;
  overflow: hidden;
  color: #fff;
}

.shadow-image {
    background-image: url('../static/shadow.png');
    background-repeat: repeat-x;
    background-size: 1px 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 136px;
    width: 100%;
}

.site-header a {
  color: #fff;
}

.site-header a:hover,
.site-header a:focus {
  color: #fff;
  text-decoration: none;
}

.header-inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.header-title {
  display: inline-block;
  width: 75%;
  font-size: 3em;
}

.logo {
  width: 70px;
  float: left;
  margin-left: 25px;
  margin-right: 15px;
}

.banner {
  background-color: #ddd;
    color: #708fc1;
    margin: 25px;
    height: 62px;
}

.title {
  text-align: center;
  padding-top: 10px;
  height: 70px;
}

.login-link {
  color: #F57C00;
}


/*
 * Welcome
 */

.user-avatar {
  width: 150px;
  height: 150px;
}

.user-avatar .logo {
  width: 120px;
  margin-top: 15px;
}

.message {
  margin-top: 20px;
}

.content {
  padding-top: 156px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

/*
 * Nav Bar
 */

.nav {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 32px;
    letter-spacing: 0.25px;
}

.nav-list {
  list-style: none;
  margin: 4px 0 0;
  padding: 0;
  white-space: nowrap;
  display: inline-block;
  font-size: 0;
}

.nav-item {
  text-transform: uppercase;
  display: inline-block;
  padding: 20px 12px 21px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
}

.nav .nav-item a {
  transition: border-bottom-color .1s ease-out;
}

.nav .nav-item a:hover,
.nav .nav-item a:focus,
.nav .nav-item a:active {
  text-decoration: none;
  color:  #01579B;
}

.nav-item button {
  background: #F57C00;
  border: 1px solid #03A9F4;
}

.nav-item button:hover,
.nav-item button:focus,
.nav-item button:active {
  background: #01579B;
}

.nav-list .avatar {
  width: 70px;
}

/*
 * Posts
 */

 .card {
  background-color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
  overflow: hidden;
  padding: 20px;
  height: 120px;
  margin: 5px;
  transition: box-shadow 0.218s;
  cursor: pointer;
}

.card:hover {
    box-shadow: 0 10px 14px rgba(0,0,0,.2), 0 4px 15px rgba(0,0,0,.2);
}

.card-title {
  /*text-align: center;*/
}

.card-title h2 {
  padding-top: 0;
  padding-bottom: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

 .post-byline {
  padding-right: 5px;
  background: rgba(0,0,0,0.05);
  width: 100%;
  text-transform: uppercase;
  /*text-align: center;*/
}

.post {
    padding: 10px;
}

.post-header {
    border-bottom: 5px solid #758fbb;
}

.post-subject {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.post-statistic {
  padding-left: 5px;
  padding-right: 5px;
}

.post-username {
  text-transform: uppercase;
}

.post-date {
    /*padding-left: 5px;*/
    text-align: right;
    /*padding-top: 10px;*/
}

.post-date i {
  padding-right: 5px;
}

.comment {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e7eaec;
}

.comment-user {
  margin-bottom: 5px;
}

.comment-body {
  width: 100%;
}

.comment-body textarea{
  height: 70px;
  padding: 0;
}

.comment-body input[type=submit] {
  float: right;
  margin-top: 10px;
}

.comment-text {
  margin-bottom: 10px;
}

.comment-edit .form-inline {
  display: none;
}

.comment-edit textarea {
  height: 70px;
}

.avatar {
  width: 25px;
}

.error {
  color: red !important;
}

.error-icon {
  width: 500px;
}

.error-title {
  font-weight: 300;
  font-size: 4em;
  margin: 0;
  color: #F57C00;
  padding-top: 10px;
}

.error-message {
    padding-bottom: 10px;
    font-size: 2em;
    padding-top: 10px;
}

.error-message .small {
  margin-bottom: 20px;
}
