body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    color: #2d3c49;
}

img,
embed,
object,
video {
  max-width: 100%;
}

a {
  color: #2e8ac1;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #df302c;
  text-decoration: underline;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

h1 {
    color: #708fc1;
    margin:10px;
    /*height: 50px;*/
}

h2 {
  font-weight: 300;
  font-size: 1.5em;
  margin: 0;
  color: #2e8ac1;
  padding-top: 10px;
}

h3 {
    font-weight: 500;
    font-size: 1.5em;
    margin: 0;
    text-align: right;
}

h4 {
    margin: 0;
    font-weight: 300;
}

header {
    width: 100%;
    padding-top: 20px;
}

footer {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  font-size: 0.75em;
  width: 100%;
}

article {
  align-items: center;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: all 0.25s;
}

article:last-of-type {
  margin-right: 0;
}

img {
  vertical-align: middle;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

textarea {
  width: 100%;
  height: 400px;
  font-size: 17px;
  font-family: roboto;
}

input[type=submit] {
  font-size: 24px;
}

label {
  display: block;
  font-size: 20px;
}

b,
strong {
  font-weight: 700;
}

pre {
  font-family: roboto;
  font-size: 1.25em;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

/*
 * Grid
 */

.grid {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.row {
  width: 100%;
  margin-bottom: 20px;
  display: block;
}

.trimmed {
  margin-bottom: 0;
}

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.66667%;
}

.col-10 {
    width: 83.33333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66667%;
}

.col-7 {
    width: 58.33333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66667%;
}

.col-4 {
    width: 33.33333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66667%;
}

.col-1 {
    width: 8.33333%;
}

.col-offset-6 {
    margin-left: 50%;
}

/*
 * Buttons
 */

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-white {
  color: inherit;
  background: white;
  border: 1px solid #e7eaec;
}

.btn-red {
    background-color: #ed5565;
    border-color: #ed5565;
    color: #fff;
}
.btn-red:hover,
.btn-red:active,
.btn-red:focus {
  color: #fff;
  background-color: #ec4758;
  border-color: #ec4758;
}

.btn:focus {
  outline: none !important;
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-rounded {
  border-radius: 50px;
}

.btn-red.btn-outline {
  color: #ed5565;
  border-color: #ed5565;
}

.btn-red.btn-outline:hover {
  color: #fff;
}

.btn-link {
  color: #337ab7;;
}

a.btn-link:hover,
a.btn-link:focus,
a.btn-link:active {
  text-decoration: none;
  background-color: transparent;
}

button.dim {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 6px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 20px !important;
}

button.dim:active {
  top: 3px;
}

button.btn-red.dim {
  box-shadow: inset 0 0 0 #ea394c, 0 5px 0 0 #ea394c, 0 10px 5px #999999;
}
button.btn-red.dim:active {
  box-shadow: inset 0 0 0 #ea394c, 0 2px 0 0 #ea394c, 0 5px 3px #999999;
}
button.dim:before {
  font-size: 50px;
  line-height: 1em;
  font-weight: normal;
  color: #fff;
  display: block;
  padding-top: 10px;
}
button.dim:active:before {
  top: 7px;
  font-size: 50px;
}
.btn:focus {
  outline: none !important;
}

/*
 * Box
 */

.box {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.box-content {
  background-color: #fff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-style: solid solid none;
  border-width: 1px 0;
}

.small {
  font-size: 85%;
}

.text-muted {
  color: #888;
}

.box-title h2 {
  color: #333;
}

.box-title .small {
  padding: 10px;
}

.btn-link h2 {
  color: #2e8ac1;
  padding-left: 10px
}

/*
 * Form
 */

.form-control {
  display: block;
  width: 100%;
  height: 20px;
  padding: 6px 12px;
  font-size: 16px;
  color: #555;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
}

.form-group {
  margin-bottom: 15px;
}

textarea.form-control {
  height: 400px;
}

/*
 * Header
 */

 .header {
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0,0,0,0.26);
}

.header a:hover, a:focus {
  color: #337ab7;
  text-decoration: none;
}

.header-inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header-title {
  display: inline-block;
  width: 75%;
  font-size: 3em;
}

.logo {
  width: 100px;
  float: left;
  margin-left: 25px;
}

.banner {
  background-color: #ddd;
    color: #708fc1;
    margin: 25px;
    height: 62px;
}

.title {
  text-align: center;
  padding-top: 10px;
  height: 70px;
}

/*
 * Login
 */

 .login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

/*
 * Welcome
 */

.user-avatar {
  width: 52px;
  height: 52px;
  border: 1px solid #e7eaec;
}

.user-avatar img {
  border-radius: 50%;
}


/*
 * Posts
 */

 .post-username {
  padding-right: 5px;
 }

 .post {
    padding: 10px;
}

.post-header {
    border-bottom: 5px solid #758fbb;
}

.post-subject {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.post-statistic {
  padding-left: 10px;
}

.post-date {
    /*padding-left: 5px;*/
    text-align: right;
    /*padding-top: 10px;*/
}

/* match all i that are descendents of .post-date */
.post-date i {
  padding-right: 5px;
}

.comment {
  padding-bottom: 20px;
  border-bottom: 1px solid #e7eaec;
}

.comment-body textarea{
  height: 70px;
  padding: 0;
}

.comment-edit .form-inline {
  display: none;
}

.comment-edit textarea {
  height: 70px;
}

.comment-body input[type=submit] {
  float: right;
  margin-top: 10px;
}

.error {
  color: red !important;
}

.error-icon {
  width: 500px;
}

.error-title {
  font-weight: 300;
  font-size: 4em;
  margin: 0;
  color: #2e8ac1;
  padding-top: 10px;
}

.error-message {
    padding-bottom: 10px;
    font-size: 2em;
    padding-top: 10px;
}
