<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Blog</title>

        <link rel="stylesheet" href="/static/main.css" />
        <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="icon" href="static/favicon.ico">

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>

<body class="gray-bg">


    <div class="middle-box text-center">
        <div class="error-title">Error!</div>
        <img class="error-icon" src="/static/svg/robot.svg" alt="500 error icon">
        <div class="error-message">
            Something went wrong :-(
        </div>
        <a href="/">Return to Blog</a>
    </div>

</body>

</html>
