{% extends "base.html" %}

{% block content %}
<div class="avatars">
    <div class="middle-box text-center">
        <div class="error-title">Avatars</div>
            <div class="row">

                {% for a in avatars %}
                    <div class="col-2">
                        <div class="user-avatar">
                            <img class="logo" src="{{a.url}}" alt="user thumbnail">
                            <!-- <p class="small">{{a.name}}</p> -->
                        </div>
                    </div>
                    {% if loop.index % 6 == 0 %}

                    </div>
                    <div class="row">

                    {% endif %}

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}