<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Blog</title>

        <link rel="stylesheet" href="/static/main.css" />
        <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="icon" href="static/favicon.ico">

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>

<body class="gray-bg">
    <div class="middle-box text-center">
        <div class="error-title">Avatars</div>
            <div class="row">

                {% for a in avatars %}
                    <div class="col-2">
                        <div class="user-avatar">
                            <img class="logo" src="{{a.url}}" alt="user thumbnail">
                            <p class="small">{{a.name}}</p>
                        </div>
                    </div>
                    {% if loop.index % 6 == 0 %}

                    </div>
                    <div class="row">

                    {% endif %}

            {% endfor %}
        </div>
    </div>
</div>
    </div>

</body>

</html>