<!DOCTYPE html>
<html>
    <head>
        <title>Sugar Raccoon</title>
        {% block head %}
        <link rel="stylesheet" href="static/main.css" />
        <link rel="icon" href="static/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <div class="container grid">
            <header class="col-12">
                <div class="col-12">
                    <a href="/">
                        <img class="logo" src="static/raccoon.svg" alt="raccoon logo SVG">
                    </a>
                    <div class="banner">
                        <h1 class="col-12 title"><a href="/">Sugar Raccoon</a></h1>
                    </div>
                </div>
                <div class="row">

                </div>
            </header>
            <div class="row">
                <nav class="nav">
                    <ul class="nav-list">
                        {% if user %}
                            <li>{{user.name}} (<a class="login-link" href="/logout">Log Out</a>)
                            <li><a href="/newpost">New Post</a></li>
                        {% else %}
                        <li><a href="/login">Log In</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% block content %}

        {% endblock %}
            <div class="row">
                <footer>
        <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </footer>
            </div>
        </div>
    </body>
</html>