<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Blog</title>

        <link rel="stylesheet" href="/static/main.css" />
        <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="icon" href="static/favicon.ico">

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
        <div class="container grid">
            <header class="site-header light-blue-500">
                <div class="shadow-image"></div>
                <div class="header-inner">
                    <a href="/">
                        <img class="logo" src="/static/svg/blogging.svg" alt="blog logo SVG">
                    </a>
                    <h1 class="display-3"><a href="/"> Blog</a></h1>
                </div>
                <nav class="nav">
                    <ul class="nav-list">
                        {% if user %}
                            <li class="nav-item"><a href="/newpost" class="btn-link"><button class="btn btn-white" type="button"><i class="fa fa-plus" aria-hidden="true"></i> New Post</button></a>
                            </li>
                            <li class="nav-item">Logged in as {{user.username}} (<a class="login-link" href="/logout">Log Out</a>)</li>
                            <a href="/user/{{user.key.id()}}"><img class="avatar" src="{{user.avatar_url}}" alt="user thumbnail"></a>
                        {% else %}
                        <li class="nav-item"><a href="/login">Log In</a></li>
                        <li class="nav-item"><a href="/signup">Sign Up</a></li>
                        {% endif %}
                    </ul>
                    <div style="opacity"></div>
                </nav>
            </header>
            <div class="content">
            {% block content %}

            {% endblock %}
            </div>
        </div>
        <div class="row">
            <footer>
                <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
                <div>User icons designed by <a href="https://roundicons.com/" title="Roundicons">Roundicons</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
            </footer>
        </div>

    {% block tail_script %}{# defer-capable JS block #}{% endblock %}

    </body>
</html>