{% block content %}
        <div class="comment" data-id="{{ comment.key.id() }}">
            <div class="comment-user">
                {{ comment.user.get().username }}
                <span class="text-muted post-date"><i class="fa fa-clock-o" aria-hidden="true"></i>{{comment.created.strftime("%b %d, %Y")}}</span>
            </div>

            <div class="comment-body">
                {{ comment.content }}
                <br />
                {% if comment.user.get().key.id() == user.key.id() %}
                <div class="comment-buttons">
                    <div class="btn-group">
                        <button class="btn btn-white" name="edit-comment" data-id="{{comment.key.id()}}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                        <button class="btn btn-white" name="delete-comment" data-id="{{comment.key.id()}}"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                    </div>
                </div>
                {% endif %}
            </div>

             <div class="comment-edit">
                <form role="form" class="form-inline" method="post" name="comment-edit" data-id="{{comment.key.id()}}" action="/comment/{{comment.key.id()}}/edit">
                    <textarea class="form-control" name="comment-edit">{{ comment.content }}</textarea>
                    <button class="btn btn-white" name="comment-edit-cancel" type="button"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
                </form>
            </div>
        </div>
{% endblock %}