{% block content %}
<!-- <div class="box">
    <div class="box-content"> -->
        <div class="post-comment" data-id="{{ comment.key.id() }}">
            <div class="comment-user">
                {{ comment.user.get().username }}
                <span class="text-muted post-date"><i class="fa fa-clock-o" aria-hidden="true"></i>{{comment.created.strftime("%b %d, %Y")}}</span>
            </div>
            <div class="comment-body">

                {{ comment.content }}
                <br />
            </div>
            <div class="comment-buttons">
                <div class="btn-group">
                    <button class="btn btn-white"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                    <button class="btn btn-white" onclick="deleteComment(this)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                </div>
            </div>
        </div>
    <!-- </div> -->
<!-- </div> -->
{% endblock %}