{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="box">
    <div class="box-title">
      <h2>Edit post</h2>
    </div>
    <div class="box-content">
      <div class="row">
        <div class="col-10">
          <form role="form" method="post">
            <div class="form-group">
              <label>Subject</label>
              <input type="text" name="subject" value="{{post.subject}}" placeholder="subject" class="form-control">
            </div>
            <div class="form-group">
              <label>Content</label>
              <textarea name="content" class="form-control">{{post.content}}</textarea>
            </div>
            <div class="form-group">
                  <div class="error">{{error}}</div>
                  <div class="error">{{permissions_error}}</div>
            </div>
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2 pull-right">
                <button class="btn btn-white" type="button" name="cancel" data-id="{{post.key.id()}}"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
                <button class="btn btn-primary" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save changes</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block tail_script %}
<script>
    /*
     * Get the cancel button and add a click event listner to it.
     */
     const cancelButton = document.querySelector('button[name=cancel]');
     cancelButton.addEventListener('click', onCancelPost, false);

     function onCancelPost(e) {
        const postId = this.dataset.id;
        // redirect to the post page
        window.location.href = `/${postId}`;
     }


</script>
{% endblock tail_script %}