{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="box">
        <div class="box-title"><h2>Log In</h2></div>
        <div class="box-content">
            <div class="row">
                <div class="col-10">
                    <form role="form" class="form-inline" method="post">
                        <div class="form-group">
                            <label for="input-username">Username</label>
                            <input type="text" name="username" value="{{username}}" class="form-control" id="input-username">
                        </div>
                        <div class="form-group">
                            <label for="input-password">Password</label>
                            <input type="password" name="password" class="form-control" id="input-password">
                        </div>
                        <div class="form-group">
                            <div class="error">{{login_error}}</div>
                        </div>
                        <button class="btn btn-primary pull-right" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
       <p class="text-muted"><small>Don't have an account?</small></p>
       <a href="/signup" class="btn-link"><button class="btn btn-white"><i class="fa fa-id-badge" aria-hidden="true"></i> Create an account</button></a>
    </div>
</div>


{% endblock %}