{% extends "base.html" %}


{% block content %}
<div class="row">
    <div class="box">
        <div class="box-title">
             <div class="post-subject">{{post.subject}}</div>
            <div class="small text-center">
                <strong class="post-username">Posted by {{owner.username}} on {{post.created.strftime("%b %d, %Y")}}
                </strong>
            </div>
        </div>
        <div class="box-content">
            <div class="row">
                <div class="col-10">
                    <div class="post-content">
                        <pre class="post-content">{{post.content | safe }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="post-buttons">
        {% if user.key.id() == owner.key.id() %}
        <div class="btn-group">
            <!-- <button class="btn btn-white" name="edit-post" data-id="{{post.key.id()}}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button> -->
            <a href="/{{post.key.id()}}/edit" class="btn-link"><button class="btn btn-white"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</button></a>
            <button class="btn btn-white" name="delete-post" data-id="{{post.key.id()}}"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
        </div>
        {% else %}
        <div class="btn-group">
            <button class="btn btn-white" name="like-post" data-id="{{post.key.id()}}"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</button>
            <button class="btn btn-white" name="unlike-post" data-id="{{post.key.id()}}"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Unlike</button>
            <div class="error">{{like_error}}</div>
        </div>
        {% endif %}
    </div>
</div>

<div class="row">
    <!-- <div class="col-12"> -->
    <div class="box-title">
        <h2>Comments:</h2>
    </div>
    <div class="box-content">
            {% for comment in comments %}
                {{ comment.render(user) | safe }}
            {% endfor %}
        <div class="row">
            <div class="comment-body">
                <form role="form" class="form-inline" method="post" name="comment-form">
                    <textarea class="form-control" name="comment" placeholder="Write a comment..."></textarea>
                    <!-- <button class="btn btn-primary pull-right" type="submit"><i class="fa fa-commenting-o" aria-hidden="true"></i> Post Comment</button> -->
                </form>
            </div>
        </div>
        <div class="row"></div>
    </div>
</div>


{% endblock %}


{% block tail_script %}
<script>

    /*
     * Get the delete post button and add a click event listner to it.
     */
    const deletePostBtn = document.querySelector('button[name=delete-post]');
    console.log(deletePostBtn);
    if (deletePostBtn) {
        deletePostBtn.addEventListener('click', onDeletePost, false);
    }

    // Function to delete a post
    function onDeletePost(e) {
        // Get the id of the post to be deleted.
        const postId = this.dataset.id;
        const url = '/' + postId;

        function reqListener () {
          console.log(this.status);
          if (this.readyState == 4 && this.status == 200) {
            console.log('success!');
            // Redirect to the blog front page after half a second delay.
            setTimeout(function () {
                window.location.href = "/";
            }, 500);
          }
        }

        // Send the DELETE request via ajax.
        var oReq = new XMLHttpRequest();
        oReq.addEventListener("load", reqListener);
        oReq.open("DELETE", url);
        oReq.send();
    }

    /*
     * Get the edit post button and add a click event listner to it.
     */
    // const editPostBtn = document.querySelector('button[name=edit-post]');
    // console.log(editPostBtn);
    // if (editPostBtn) {
    //     editPostBtn.addEventListener('click', onEditPost, false);
    // }

    function onEditPost(e) {
        console.log(e.target);
        console.log(this.dataset);
        const postId = this.dataset.id;
        console.log(postId);

        const path = '/' + postId + '/edit';
        console.log(path);

        post(path, {}, 'GET');
    }

    /*
     * Get the like button and add a click event listner to it.
     */
     const likeButton = document.querySelector('button[name=like-post]');
     if (likeButton) {
        likeButton.addEventListener('click', onLikePost, false);
     }

     function onLikePost(e) {
        console.log('like button clicked');
        const postId = this.dataset.id;
        const path = '/' + postId + '/like';

        post(path, {}, 'POST');
     }

     /*
     * Get the unlike button and add a click event listner to it.
     */
     const unlikeButton = document.querySelector('button[name=unlike-post]');
     if (unlikeButton) {
        unlikeButton.addEventListener('click', onUnlikePost, false);
     }

     function onUnlikePost(e) {
        const postId = this.dataset.id;
        const path = '/' + postId + '/unlike';

        post(path, {}, 'POST');
     }

     /*
     * Get the comment text area and add a keydown event listner to it.
     */

    // Get the text area from the comment-form form
    const commentTextArea = document.querySelector('textarea[name=comment]');
    console.log(commentTextArea);
    commentTextArea.addEventListener('keydown', onTextAreaKeyDown, false);

    function onTextAreaKeyDown(e) {

        // Post the comment if the Enter key has been pressed.
        if (e.key === "Enter" && !e.shiftKey) {
            e.preventDefault();
            console.log(this);
            console.log("Enter key pressed!");
            // get the form parent for this textarea
            console.log(this.value);
            const form = this.parentNode;
            console.log(form);
            form.submit();
        }
    }

    /*
     * Get the comments
     */
    const comments = document.querySelectorAll('.comment');
    console.log(comments);

    // For each comment div, get the edit and delete buttons and the textarea
    comments.forEach(comment => {
        console.log(comment);
        const commentId = comment.dataset.id;

        // get the delete button
        const deleteButton = comment.querySelector('button[name=delete-comment]');
        if (deleteButton) {
            deleteButton.addEventListener('click', onDeleteComment);
        }

        const editButton = comment.querySelector('button[name=edit-comment]');
        if (editButton) {
            editButton.addEventListener('click', onEditComment);
        }

        const textarea = comment.querySelector('textarea[name=comment-edit]');
        if (textarea) {
            textarea.addEventListener('keydown', onTextAreaKeyDown, false);
        }

        const cancelButton = comment.querySelector('button[name=comment-edit-cancel]');
        if (cancelButton) {
            cancelButton.addEventListener('click', onCancelCommentEdit);
        }

    });

    /*
     * Function to delete a comment
     */
    function onDeleteComment(e) {
        const commentId = this.dataset.id;

        const path = '/comment/' + commentId + '/delete';
        console.log(path);

        post(path, {}, 'POST');
    }

    /*
     * Function to edit a comment
     */
    function onEditComment(e) {
        const commentId = this.dataset.id;

        // Show the corresponding edit form for this comment.
        const form = document.querySelector(`form[data-id="${commentId}"]`);
        form.style.display = "block";

        // Get the comment buttons and hide them.
        const div = document.querySelector(`.comment[data-id="${commentId}"]`);
        console.log(div);
        const buttons = div.querySelector('.comment-buttons');
        buttons.style.display = "none";
    }


    /*
     * Function to cancel a comment edit.
     */
    function onCancelCommentEdit(e) {

        // Get the form for this comment
        const formNode = e.target.parentNode;
        const commentId = formNode.dataset.id;

        const div = document.querySelector(`.comment[data-id="${commentId}"]`);
        const text = div.querySelector('.comment-body').innerText;

        console.log(text);

        // set the text in the textarea back to the original text and hide the form.
        textarea = formNode.querySelector('textarea');
        textarea.value = text;
        formNode.style.display = "none";

        // Get the comment buttons and show them.
        const buttons = div.querySelector('.comment-buttons');
        buttons.style.display = "block";
    }

    /*
     * Function to send a GET or POST request to the specified path.
     */
    function post(path, params, method) {
        method = method || "post"; // Set method to post by default if not specified.

        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            if(params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
             }
        }

        document.body.appendChild(form);
        form.submit();
    }

</script>
{% endblock tail_script %}