{% extends "base.html" %}


{% block content %}
<div class="post">
    <div class="row">
        <div class="col-10">
            <div class="box">
                <div class="box-content">
                    <div class="text-center post-subject">
                        <span class="text-muted post-date"><i class="fa fa-clock-o" aria-hidden="true"></i>{{post.created.strftime("%b %d, %Y")}}</span>
                        <h2>{{post.subject}}</h2>
                    </div>
                    <div class="post-content">
                        <pre class="post-content">{{post.content | safe }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="post-buttons">
            <div class="btn-group">
                <a href="/{{post.key.id()}}/edit" class="btn-link">
                    <button class="btn btn-white"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</button>
                </a>
                <!-- <a href="/{{post.key.id()}}/delete" class="btn-link">
                    <button class="btn btn-white" name="delete-post" data-id="{{post.key.id()}}"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                </a> -->
                <button class="btn btn-white" name="delete-post" data-id="{{post.key.id()}}"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-outline btn-red dim"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</button>
                <button class="btn btn-outline btn-red dim"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Unlike</button>
                            <!-- <button class="btn btn-white"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button> -->
                            <!-- <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button> -->
                        </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Comments:</h2>
            {% for comment in comments %}
                {{ comment.render() | safe }}
            {% endfor %}
        <div class="post-comment">
            <div class="comment-body">
                <form role="form" class="form-inline" method="post">
                    <textarea class="form-control" name="comment" placeholder="Write a comment..."></textarea>
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block tail_script %}
<script>

    const editPostBtn = document.querySelector('button[name=edit-post]');
    console.log(editPostBtn);
    // editPostBtn.addEventListener('click', onEdit, false);

    const deletePostBtn = document.querySelector('button[name=delete-post]');
    console.log(deletePostBtn);
    deletePostBtn.addEventListener('click', onDelete, false);

    function onDelete(e) {
        console.log(e.target);
        console.log(this.dataset);
        const postId = this.dataset.id;
        console.log(postId);

        const path = '/' + postId + '/delete';
        console.log(path);

        // var xhr = new XMLHttpRequest();
        // xhr.open('POST', path, true);
        // xhr.send();

        // xhr.onreadystatechange = processRequest;

        post(path, {}, 'POST');
    }

    function onEdit(e) {
        console.log(e.target);
        console.log(this.dataset);
        const postId = this.dataset.id;
        console.log(postId);

        const path = '/' + postId + '/edit';
        console.log(path);

        // var xhr = new XMLHttpRequest();
        // xhr.open('GET', path, true);
        // xhr.send();

        // xhr.onreadystatechange = processRequest;

        post(path, {}, 'GET');
    }

    function processRequest(e) {
        if (xhr.readyState == 4 && xhr.status == 200) {
                // time to partay!!!
            console.log('time to partay!!');
            alert('Time to partay!');
        } else {
            console.log(e);
        }
    }

    function post(path, params, method) {
        method = method || "post"; // Set method to post by default if not specified.

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            if(params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
             }
        }

        document.body.appendChild(form);
        form.submit();
}

</script>
{% endblock tail_script %}