{% block content %}
    <div class="row">
        <div class="box">
            <div class="box-content">
                <a href="/{{post.key.id()}}" class="btn-link">
                    <h2 class="post-subject col-6">{{post.subject}}</h2>
                </a>
                <div class="small">
                    <strong class="post-username">{{post.user.get().username}}</strong>
                    <span class="text-muted post-date"><i class="fa fa-clock-o" aria-hidden="true"></i>{{post.created.strftime("%b %d, %Y")}}</span>
                </div>
                <pre class="post-content">{{post.content | safe }}</pre>
            </div>
            <div class="extra">
                <div class="row">
                    <div class="col-6">
                        <div class="btn-group">
                            <button class="btn btn-white"><i class="fa fa-thumbs-up"></i> Like</button>
                            <!-- <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button> -->
                        </div>
                        <div>
                            <!-- <a href="#" class="btn-link"> -->
                                 <i class="fa fa-comments" aria-hidden="true"></i> {{comment_count}} comments
                            <!-- </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

