{% block content %}
    <div class="col-12 card" data-id="{{post.key.id()}}">
        <div class="card-title">
            <h2>{{post.subject}}</h2>
            <div class="small">
                <div class="row">
                    <strong class="post-byline">{{post.created.strftime("%b %d, %Y")}} by <a href="/user/{{author.key.id()}}" class="btn-link">{{author.username}}</a></strong>
                </div>
                <div class="row">
                    <i class="fa fa-heart post-statistic" aria-hidden="true"></i> {{like_count}} likes
                    <i class="fa fa-comments post-statistic" aria-hidden="true"></i>   {{comment_count}} comments
                </div>
            </div>
        </div>
    </div>
{% endblock %}