{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="box">
        <div class="box-title"><h2>Create an Account</h2></div>
        <div class="box-content">
            <div class="row">
                <div class="col-10">
                    <p class="form-info">Required fields are followed by <strong><abbr title="required">*</abbr></strong>.</p>
                    <form role="form" class="form-line" method="post">
                        <div class="form-group">
                            <lable for="input-username">Username<strong><abbr title="required">*</abbr></strong></lable>
                            <input type="text" name="username" value="{{username}}" class="form-control" id="input-username" required>
                            <p class="error">{{username_error}}</p>
                        </div>
                        <div class="form-group">
                            <lable for="input-password">Password<strong><abbr title="required">*</abbr></strong></lable>
                            <input type="password" name="password" class="form-control" id="input-password" required>
                            <p class="error">{{password_error}}</p>
                        </div>
                        <div class="form-group">
                            <lable for="input-verify">Verify Password<strong><abbr title="required">*</abbr></strong></lable>
                            <input type="password" name="verify" class="form-control" id="input-verify" required>
                            <p class="error">{{verify_error}}</p>
                        </div>
                        <div class="form-group">
                            <lable for="input-email" >Email (optional)</lable>
                            <input type="text" name="email" value="{{email}}" class="form-control" id="input-email" autocomplete="email">
                            <p class="error">{{email_error}}</p>
                        </div>
                        <button class="btn btn-white pull-right" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
