{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="box">
        <div class="box-title">
            <h2>Users:</h2>
        </div>
        <div class="box-content">
                {% for u in users %}
                <div class="row">
                    <h2>{{u.username}}</h2>
                    <div class="user-avatar">
                        <img class="logo" src="{{u.avatar_url}}" alt="user thumbnail">
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
</div>

{% endblock %}