{% extends "base.html" %}

{% block content %}
<h2>Welcome, {{user.username}}!</h2>
<div class="row message">
    <div>Your avatar:</div>
    <div class="user-avatar">
        <img class="logo" src="{{user.avatar_url}}" alt="user thumbnail">
    </div>
</div>
<div class="row">
  <div class="box">
    <div class="box-title">
      <h2>Your Posts</h2>
    </div>
    <div class="row">
    {% if posts %}
        {% for post in posts %}
            {{ post.render() | safe }}
        {% endfor %}
    {% else %}
        <div class="box-content">
            <div class="row">
                <div>No posts yet!</div>
            </div>
        </div>
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}


{% block tail_script %}
<script>

    // Get each post card.
    const posts = document.querySelectorAll('.card');
    console.log(posts);
    // Add a click listener to each card.
    posts.forEach(post => {
        post.addEventListener('click', onPostSelected);
    });

    function onPostSelected(e) {
        const postId = this.dataset.id;
        console.log('post id ' + postId + ' selected');
        window.location.href = "/" + postId;
    }

</script>
{% endblock tail_script %}